
body {
	font-family: 'Oswald', sans-serif;
	background: #3f3f3f;
	color: white;
}

img {
	height: 4rem;
	width: 4rem;
	border-radius: 5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	border-bottom: 1px solid white;
	width: 100%;
}

li {
	display: inline;
}

.largeFont{
	font-size: 3rem;
	text-transform: uppercase;
}

#menuBar {
	height: 50px;
}

#portGrid {
	margin-top: 50px;
}