
body {

	background: #323232;
font-family: 'Oswald', sans-serif;

}



a {
	text-decoration: none;
	font-size: 1.25rem;
	display: block;
	color: white;
}

a:hover {
	color: #00F5FF;
	cursor: default;
}

img {
	height: 10rem;
	width: 9rem;
	border-radius: 5px;
}

#title {
	margin-top: 7rem;
	margin-bottom: -.2rem;
	margin-left: 10%;
	color: white;
}

#links {
	font-size: 1.25rem;
	margin-top: .2rem;
	margin-left: 10%;
	display:table;
	text-transform: uppercase;

}

#name{
	font-size: 3.25rem;
	text-transform: uppercase;
}

#subtitle{
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #00F5FF;
}
