
body {
	font-family: 'Oswald', sans-serif;
	color: #3f3f3f;
	background: white;
}

img {
	height: 15rem;
	width: 15rem;
	border-radius: 5px;
}

.taskbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	border-bottom: 1px solid white;
	width: 100%;
}

li {
	display: inline;
}

.largeFont{
	font-size: 50px;
	text-transform: uppercase;
}

#menuBar {
	clear:both;
	padding-bottom: 10px;
	z-index: 100000;
	width: 100%;
/*	background: #3f3f3f;
	color: white;*/
	position: fixed;
}

#portGrid {
	margin-top: 100px;
}